@import 'assets/styles/styles.scss';

.card-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    position: relative;
    overflow: initial;
    margin: 0.6em 0;

    &.error {
        border-color: _palette(accent);
        > .title {
            color: _palette(accent);
        }
    }

    > .title {
        background-color: inherit;
        position: absolute;
        left: 0.5em;
        top: -0.6em;
        padding: 0 0.7em;
        font-family: _font(family);
        font-weight: _font(weight);
    }

    .card-inner {
        border-radius: 0.5em;
        width: 70%;
        margin: 0.5em;

        .content {
            padding-top: 56.25%;
            border-radius: 0.5em;
            position: relative;

            .update-action {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;

                &.active {
                    display: none;
                }

                .label {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    h5 {
                        font-family: _font(family);
                        font-weight: _font(weight);
                    }
                }
                input {
                    display: none;
                }
            }

            .ready-action {
                display: none;
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                &.active {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .delete-icon {
                    background-color: transparentize(_palette(bg), 0.4);
                    position: absolute;
                    bottom: 0.2em;
                    right: 0.2em;
                }
                img {
                    max-width: 100%;
                }
            }
        }
    }
}
