@import 'assets/styles/styles.scss';

#photo-upload {
    position: relative;
    .title {
        background-color: _palette(bg);
        position: absolute;
        left: 0.5em;
        top: -1em;
        padding: 0 0.7em;
        border-radius: 0.5em;
        font-family: _font(family);
        font-weight: _font(weight);
        &.error {
            color: _palette(accent);
        }
    }

    .card-outer {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5em;
        overflow: initial;

        &.error {
            border-color: _palette(accent);
        }

        .card-inner {
            border-radius: 0.5em;
            width: 70%;
            margin: 0.7em;

            .content {
                &.horizontal {
                    padding-top: 56.25%;
                }
                &.straight {
                    padding-top: 112.5%;
                }
                border-radius: 0.5em;
                position: relative;
                overflow-y: hidden;

                .update-action {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;

                    &.active {
                        display: none;
                    }

                    .label {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        h5 {
                            font-family: _font(family);
                            font-weight: _font(weight);
                        }
                    }
                    input {
                        display: none;
                    }
                }

                .ready-action {
                    display: none;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    &.active {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .delete-icon {
                        background-color: transparentize(_palette(bg), 0.4);
                        position: absolute;
                        bottom: 0.2em;
                        right: 0.2em;
                        &.disable {
                            display: none;
                        }
                    }
                    img {
                        &:hover {
                            cursor: pointer;
                        }
                        width: 100%;
                    }
                }
            }
        }
    }
}
