@import 'assets/styles/styles';

.buttonContainer {
    display: flex;
    flex-direction: column;

    .button {
        margin-bottom: 1em !important;
    }
}

.container.lv2 {
    .alert {
        margin-bottom: 0.5em;
    }

    > .title {
        margin-bottom: 0.25em;
        display: flex;
        align-items: center;
    }
}
