@import 'assets/styles/styles';

.buttonContainer {
    display: flex;
    flex-direction: column;

    .button {
        margin-bottom: 1em !important;
    }
}

.container.lv2 {
    .alert {
        margin-bottom: 0.5em;
    }

    > .title {
        margin-bottom: 0.25em;
        display: flex;
        align-items: center;
    }

    .photoupload {
        margin: 1em 0;
    }

    .photouploads-container {
        border-radius: _size(border-radius);
        border: solid 1px transparentize(_palette(fg-bold), 0.75);
        position: relative;
        padding: 1em;
        margin-bottom: 1em;
        .icons-container {
            position: absolute;
            display: flex;
            right: 0.5em;
            bottom: 0.5em;
        }
        .icon {
            color: _palette(accent);
            background-color: _palette(bg-alt);
            margin-left: 0.5em;
            display: none;
            &.active {
                display: block;
            }
        }
    }
}
