@import 'assets/styles/styles.scss';

@mixin l-item {
    color: inherit;
    cursor: pointer;
    display: block;
    font-size: 0.9em;
    padding: 0.625em 0;
    &:hover {
        color: _palette(accent);
    }
}

#menu {
    ul {
        color: _palette(fg-bold);
        // font-family: _font(family-heading);
        font-weight: _font(weight-bold);
        // letter-spacing: _font(kerning-heading);
        list-style: none;
        margin-bottom: 0;
        padding: 0;
        text-transform: uppercase;

        a,
        span {
            @include l-item();
            border-bottom: 0;
            text-align: center;
        }

        button {
            @include l-item();
            border: none;
            width: 100%;
            background: none !important;
            font-weight: _font(weight-bold);
            &:focus {
                outline: 0;
            }
        }
    }

    > ul {
        > li {
            border-top: solid 1px _palette(border);
            margin: 0.5em 0 0 0;
            padding: 0.5em 0 0 0;

            > ul {
                color: _palette(fg-light);
                display: none;
                margin: 0.5em 0 1.5em 0;
                padding-left: 1em;

                a,
                span {
                    font-size: 0.8em;
                }

                > li {
                    margin: 0.125em 0 0 0;
                    padding: 0.125em 0 0 0;
                }
            }

            &:first-child {
                border-top: 0;
                margin-top: 0;
                padding-top: 0;
            }
        }
    }
}
