@import 'assets/styles/styles';

#mainPage {
    h1 {
        @include breakpoint('<=large'){
            text-align: center;
        }
    }
    #contractsContainer {
        display: flex;
        justify-content: space-between;
        padding: 1em 0 2em;
        border-bottom: solid 1px _palette(fg-light);
        > .contract {
            // max-width: 32%;
            flex: 0 0 32%;
            height: 20em;
        }
    }

    #videosContainer {
        display: flex;
        justify-content: space-between;
        padding: 1em 0 2em;
        border-bottom: solid 1px _palette(fg-light);
        @include breakpoint('>large') {
            flex-wrap: wrap;
        }
        @include breakpoint('<=large') {
            flex-direction: column;
        }
        > .video {
            height: auto;
            flex: 0 0 49%;
            margin-bottom: 1em;
        }
    }
    
    #articlesContainer {
        display: flex;
        justify-content: space-between;
        padding: 1em 0 2em;
        border-bottom: solid 1px _palette(fg-light);
        @include breakpoint('>large') {
            flex-wrap: wrap;
        }
        @include breakpoint('<=large') {
            flex-direction: column;
        }
        > .article {
            height: auto;
            flex: 0 0 49%;
            margin-bottom: 1em;
        }
    }
}
