@import 'assets/styles/styles';

.main {
    display: flex;
    @include breakpoint('>large') {
        flex-direction: row;
        min-height: calc(100vh - #{_size(footer-height)} - #{_size(header-height)});
        max-height: calc(100vh - #{_size(footer-height)} - #{_size(header-height)});
    }
    @include breakpoint('<=large') {
        flex-direction: column;
    }

    .content {
        height: 100%;
        @include breakpoint('>large') {
            overflow-x: hidden;
            flex-grow: 6;
            order: 2;
        }
        @include breakpoint('<=large') {
            overflow: hidden;
            order: 0;
        }
    }
}