@import 'assets/styles/styles';

#videoCard {
    width: 100%;
    > .video {
        padding-top: 56.25%;
        border-radius: _size(border-radius-block);
        position: relative;
        .iframe {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            iframe {
                border-radius: _size(border-radius-block);
            }
        }
    }
    // overflow: hidden;
}
