@import 'assets/styles/styles';

.footer {
    background-color: _palette(bg-alt);
    min-height: _size(footer-height);
    @include breakpoint('<=large') {
        position: absolute;
        bottom: 0;
        width: 100vw;
        z-index: -1;
    }
}
