@import 'assets/styles/styles';

.app {
    display: flex;
    position: relative;
    flex-direction: column;

    @include breakpoint('<=large') {
        min-height: calc(100vh - #{_size(nav-height)}); // minus nav height
        margin-bottom: _size(nav-height); // nav height
        padding-bottom: _size(footer-height); // footer height
    }
}
