@import 'assets/styles/styles';

.app {
    display: flex;
    position: relative;
    flex-direction: column;

    @include breakpoint('<=large') {
        min-height: calc(100vh - #{_size(nav-height)}); // minus nav height
        margin-bottom: _size(nav-height); // nav height
        padding-bottom: _size(footer-height); // footer height
    }
}

.snackbar {
    > div {
        background-color: _palette(accent);
        font-family: _font(family-heading);
        font-size: 1em;
        font-weight: _font(weight-heading);
    }
}
